<!--The content below is only a placeholder and can be replaced.-->

<div id="Intro" class="sectionClass" align="center">
	<h1 class="sectionTitle">Hello, my name is Jiwon</h1>
	<div id="technicalSkills" class="contentClass">
		<h3 style="font-weight:normal;">Fourth Year @ Georgia Tech.</h3>
		<h3 style="font-weight:normal;">Major: Computer Science</h3>
		<h3 style="font-weight:normal;">Looking for internships and full-time jobs.</h3>
	</div>
	<input id = "resumeButton" type="button" style="margin-top: 4vh;" onclick="window.open('https://drive.google.com/file/d/1J66BViuBp7wczvnK3EZ-WKfbQrOaooKg/view?usp=sharing');" value="View Resume" />
</div>
<div id="toolSet" class="sectionClass">
	<h1 id = "skillsSectionTitle" class="sectionTitle">Skills + Knowledge</h1>
	<div id="technicalSkills" class="contentClass">
		<h4 style="font-weight:normal;">Technical: Full Stack Web Development, Android App Development, etc
			<ul>
				<li>Development: Java, Python, C, Assembly, Spring, SQL, MYSQL, Angular2, Angular6, PHP, jQuery, AJAX, Typescript, JS, HTML, CSS</li>
				<li>Testing: JUnit, TestNG, Selenium, Sauce Labs </li>
			</ul>
		</h4>
	</div>
	<br />
	<div id="nonTechnicalSkills" class="contentClass">
		<h4 style="font-weight:normal;">Non-technical: Microsoft Office Suite, Adobe Photoshop, etc</h4>
	</div>
	<br />
	<div id="certifications" class="contentClass">
		<h4 style="font-weight:normal;">Languages: English (Native), Korean (Native), Japanese (Advanced), French (basic) </h4>
	</div>
</div>
<app-experiences></app-experiences>