/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato');
@import url('https://fonts.googleapis.com/css?family=Crete+Round');

.sectionClass{
	padding-top:5vw;
	padding-bottom:5vw;
	padding-left: 10vw;
	padding-right: 10vw;
}
.contentClass {
	font-family: 'Crete Round', serif;
}
.sectionTitle {
	margin-bottom: 3vh;
	font-family: 'Abril Fatface', cursive;
}